<div class="azen">
    <div class="container" data-full-width="false" data-stretch-content="false">
        <div class="row">
            <div class="col-lg-12" data-cloneable>
                <div data-element>
                </div>
            </div>
        </div>
    </div>
</div>