.azh-initial() {
    align-content: auto;
    align-items: auto;
    align-self: auto;
    alignment-baseline: baseline;
    //all: depending on individual properties;
    //animation: depending on individual properties;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 0;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    azimuth: center;
    backface-visibility: visible;
    //background: depending on individual properties;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    baseline-shift: 0;
    binding: none;
    bleed: 6pt;
    bookmark-label: content();
    bookmark-level: none;
    bookmark-state: open;
    //border: depending on individual properties;
    //border-bottom: depending on individual properties;
    border-bottom-color: currentColor;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-boundary: none;
    border-collapse: separate;
    //border-color: depending on individual properties;
    border-image: none;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    //border-left: depending on individual properties;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    //border-right: depending on individual properties;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0px 0px;
    //border-style: depending on individual properties;
    //border-top: depending on individual properties;
    border-top-color: currentColor;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    //border-width: depending on individual properties;
    bottom: auto;
    box-decoration-break: slice;
    box-shadow: none;
    box-sizing: content-box;
    box-snap: none;
    box-suppress: show;
    break-after: auto;
    break-before: auto;
    break-inside: auto;
    caption-side: top;
    chains: none;
    clear: none;
    clip: auto;
    clip-path: none;
    clip-rule: nonzero;
    color: black;
    color-interpolation-filters: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    //column-rule: depending on individual properties;
    //column-rule-color: implementation dependent;
    column-rule-style: medium;
    column-rule-width: medium;
    column-span: none;
    column-width: auto;
    //columns: depending on individual properties;
    contain: none;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    counter-set: none;
    crop: auto;
    //cue: depending on individual properties;
    cue-after: none;
    cue-before: none;
    cursor: auto;
    direction: ltr;
    display: block;
    display-inside: auto;
    display-list: none;
    display-outside: inline-level;
    dominant-baseline: normal;
    elevation: level;
    empty-cells: show;
    filter: none;
    //flex: depending on individual properties;
    flex-basis: auto;
    flex-direction: row;
    //flex-flow: depending on individual properties;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    float: none;
    float-offset: 0 0;
    flood-color: black;
    flood-opacity: 1;
    flow-from: none;
    flow-into: none;
    //font: depending on individual properties;
    font-family: inherit;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: medium;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: normal;
    //grid: depending on individual properties;
    //grid-area: depending on individual properties;
    grid-auto-columns: auto;
    grid-auto-flow: none;
    grid-auto-rows: auto;
    //grid-column: depending on individual properties;
    grid-column-end: auto;
    grid-column-start: auto;
    //grid-row: depending on individual properties;
    grid-row-end: auto;
    grid-row-start: auto;
    //grid-template: depending on individual properties;
    grid-template-areas: none;
    grid-template-columns: none;
    grid-template-rows: none;
    hanging-punctuation: none;
    height: auto;
    hyphens: manual;
    icon: auto;
    image-orientation: 0deg;
    image-rendering: auto;
    image-resolution: 1dppx;
    ime-mode: auto;
    initial-letter: normal;
    justify-content: auto;
    justify-items: auto;
    justify-self: auto;
    left: auto;
    letter-spacing: normal;
    lighting-color: white;
    line-break: auto;
    line-grid: match-parent;
    line-height: normal;
    line-snap: none;
    //list-style: depending on individual properties;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    //margin: depending on individual properties;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    marker-offset: auto;
    marker-side: list-item;
    marks: none;
    mask: border-box;
    //mask-box: see individual properties;
    mask-box-outset: 0;
    mask-box-repeat: stretch;
    mask-box-slice: 0 fill;
    mask-box-source: none;
    mask-box-width: auto;
    mask-clip: border-box;
    mask-image: none;
    mask-origin: border-box;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: border-box;
    mask-source-type: auto;
    mask-type: luminance;
    max-height: none;
    max-lines: none;
    max-width: none;
    min-height: auto;
    min-width: auto;
    move-to: normal;
    nav-down: auto;
    nav-index: auto;
    nav-left: auto;
    nav-right: auto;
    nav-up: auto;
    object-fit: fill;
    object-position: 50% 50%;
    opacity: 1;
    order: 0;
    orphans: 2;
    //outline: depending on individual properties;
    outline-color: invert;
    outline-offset: 0;
    outline-style: none;
    outline-width: medium;
    //overflow: depending on individual properties;
    overflow-wrap: normal;
    overflow-x: visible;
    overflow-y: visible;
    //padding: depending on individual properties;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page: auto;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    page-policy: start;
    //pause: implementation dependent;
    //pause-after: implementation dependent;
    //pause-before: implementation dependent;
    perspective: none;
    perspective-origin: 50% 50%;
    pitch: medium;
    pitch-range: 50;
    play-during: auto;
    polar-anchor: 50% 50%;
    polar-angle: 0;
    polar-distance: 0;
    polar-origin: auto;
    position: static;
    presentation-level: 0;
    quotes: text;
    region-fragment: auto;
    resize: none;
    //rest: depending on individual properties;
    rest-after: none;
    rest-before: none;
    richness: 50;
    right: auto;
    rotation: 0;
    rotation-point: 50% 50%;
    row-gap: normal;
    ruby-align: auto;
    ruby-merge: separate;
    ruby-position: before;
    scroll-padding: 0;
    scroll-padding-block: 0;
    scroll-padding-block-end: 0;
    scroll-padding-block-start: 0;
    scroll-padding-bottom: 0;
    scroll-padding-inline: 0;
    scroll-padding-inline-end: 0;
    scroll-padding-inline-start: 0;
    scroll-padding-left: 0;
    scroll-padding-right: 0;
    scroll-padding-top: 0;
    scroll-snap-align: none;
    scroll-snap-margin: 0;
    scroll-snap-margin-block: 0;
    scroll-snap-margin-block-end: 0;
    scroll-snap-margin-block-start: 0;
    scroll-snap-margin-bottom: 0;
    scroll-snap-margin-inline: 0;
    scroll-snap-margin-inline-end: 0;
    scroll-snap-margin-inline-start: 0;
    scroll-snap-margin-left: 0;
    scroll-snap-margin-right: 0;
    scroll-snap-margin-top: 0;
    scroll-snap-stop: normal;
    scroll-snap-type: none;
    shape-image-threshold: 0.0;
    shape-inside: auto;
    shape-outside: none;
    shape-margin: 0;
    size: auto;
    speak: auto;
    speak-as: normal;
    speak-header: once;
    speak-numeral: continuous;
    speak-punctuation: none;
    speech-rate: medium;
    stress: 50;
    string-set: none;
    tab-size: 8;
    table-layout: auto;
    text-align: start;
    text-align-last: auto;
    text-combine-upright: none;
    text-decoration: none;
    text-decoration-color: currentColor;
    text-decoration-line: none;
    text-decoration-skip: objects;
    text-decoration-style: solid;
    //text-emphasis: depending on individual properties;
    text-emphasis-color: currentColor;
    text-emphasis-position: over right;
    text-emphasis-style: none;
    text-indent: 0;
    text-justify: auto;
    text-orientation: mixed;
    text-overflow: clip;
    text-shadow: none;
    text-space-collapse: collapse;
    text-transform: none;
    text-underline-position: auto;
    text-wrap: normal;
    top: auto;
    transform: none;
    transform-origin: 50% 50% 0;
    transform-style: flat;
    //transition: depending on individual properties;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    voice-balance: center;
    voice-duration: auto;
    //voice-family: implementation dependent;
    voice-pitch: medium;
    voice-range: medium;
    voice-rate: normal;
    voice-stress: normal;
    voice-volume: medium;
    volume: medium;
    white-space: normal;
    widows: 2;
    width: auto;
    will-change: auto;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    wrap-flow: auto;
    wrap-through: wrap;
    writing-mode: horizontal-tb;
    z-index: auto;
}
