@import "variables.less";
@import "initial.less";
@import "owl.carousel.less";


.azen, .azen a, .azen img, .azen div, .azen span:not(.az-icon),
.azen a:active, .azen img:active,
.azen a:focus, .azen img:focus, 
.azen a:hover, .azen img:hover, 
.azen a:visited, .azen img:visited {
    .azh-initial();
}

.azen {
    a, img, span:not(.az-icon),
        a:active, img:active, span:not(.az-icon):active,
        a:focus, img:focus, span:not(.az-icon):focus,
        a:hover, img:hover,  span:not(.az-icon):hover,
        a:visited, img:visited, span:not(.az-icon):visited {
        display: inline;
    }
    form {
        input, textarea, button, select, option, optgroup, fieldset, label {
        }
    }
    p {
        margin: 0;
    }
    [data-full-width="true"] {
        &[data-stretch-content="true"] {
             .row {
                margin-right: 0;
                margin-left: 0;
            }
        }
        &[data-without-padding="true"] {
             .row {
                margin-right: 0;
                margin-left: 0;
                [class*="col-"] {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }

    /** Home **/

    /** Top Bar **/
    .azen-top-bar {
        padding: 20px 15px;
        font-family: "@{google-font-family-2}";
        font-size: 14px;

        .azen-tel a, .azen-mail a, .azen-skype a {
            color: rgb(191, 191, 191);
        }
        .fa-twitter {
            color: rgb(85, 172, 238);
        }
        .fa-google {
            color: rgb(220, 78, 65);
        }
        .fa-facebook-official {
            color: rgb(59, 89, 152);
        }
        .fa-vimeo {
            color: rgb(26, 183, 234);
        }
        .social-bar {
            text-align: right;
        }
        .social-bar {
            a {
                &:not(:last-child) {
                    padding-right: 7px;
                }
            }
        }
        @media (max-width: 768px) {
            .azen-tel, .azen-mail, .azen-skype, .social-bar {
                text-align: center;
                &:not(:first-child){
                    margin-top: 7px;
                }
            }
        }
    }


    /** Slider **/
    .azen-slider {
        .az-carousel {
            .owl-dot {
                display: none;
            }
            .owl-nav {
                z-index: 100;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                .owl-prev, .owl-next {
                    position: absolute;
                    top: ~"calc(50% - 14px)";
                    content: '';
                    width: 17px;
                    height: 28px;
                    display: block;
                }
                .owl-prev.disabled, .owl-next.disabled {
                    opacity: 0.5;
                    cursor: default;
                }
                .owl-prev {
                    left: 0;
                    background-image: url('../azh/img/arrow-left.png');
                    display: block;
                }
                .owl-next {
                    right: 0;
                    background-image: url('../azh/img/arrow-right.png');
                }
            }
            font-family: "@{google-font-family-2}";
            .azen-item {
                height: 600px;
                padding-top: 300px;
                background-repeat: no-repeat;
                background-size: cover;
                .azen-title, .azen-desc {
                    text-align: center;
                    color: #fff;
                }
                .azen-title {
                    font-size: 150px;
                    text-transform: uppercase;
                }
                .azen-desc {
                    font-size: 20px;
                    line-height: 1.3;
                    margin-top: 20px;
                }
                .azen-background {
                    width: 100%;
                    height: 10px;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
        }
        @media (max-width: 480px) {
            .az-carousel {
                .owl-nav {
                    display: none;
                }
                .azen-item {
                    padding-top: 40px;
                    height: 150px;
                    .azen-title {
                        font-size: 50px;
                    }
                    .azen-desc {
                        font-size: 14px;
                        margin-top: 10px;
                    }
                }
            }
        }
        @media (min-width: 480px) and (max-width: 767px) {
            .owl-nav {
                display: none;
            }
            .az-carousel {
                .azen-item {
                    padding-top: 50px;
                    height: 220px;
                    .azen-title {
                        font-size: 90px;
                    }
                    .azen-desc {
                        font-size: 14px;
                        margin-top: 12px;
                    }
                }
            }
        }
        @media (min-width: 768px) and (max-width: 991px) {
            .owl-nav {
                display: none;
            }
            .az-carousel {
                .azen-item {
                    padding-top: 70px;
                    height: 300px;
                    .azen-title {
                        font-size: 140px;
                        line-height: 1;
                    }
                    .azen-desc {
                        font-size: 16px;
                        margin-top: 12px;
                    }
                }
            }
        }
    }

    /** Features **/
    .azen-features {
        .azen-text {
            font-family: "@{google-font-family-2}";
            margin: 110px 0 0;
            .azen-title, .azen-desc {
                text-align: center;
            }
            .azen-title {
                font-size: 30px;
                font-weight: 400;
                font-style: normal;
            }
            .azen-desc {
                font-size: 16px;
                letter-spacing: 1px;
                color: #888888;
                margin: 0;
                line-height: 2;
            }
        }
        .azen-blocks {
            margin-top: 110px;
            .azen-block {
                .azen-content {
                    padding: 55px 35px 53.5px;
                    background: #ffffff;
                    box-shadow: 0 1px 1.5px #bbbbbb;
                    text-align: center;
                    transition: all .3s;
                    font-family: "@{google-font-family-2}";
                    &:hover {
                        background-color: rgba(85, 91, 255, 0.975);
                        transform: scale(1.09);
                        .title, .desc, .az-icon {
                            color: #ffffff;
                        }
                    }
                    div {
                        text-align: center;
                    }
                    div.az-icon {
                        font-size: 24px;
                        line-height: 1;
                        margin: 22px 0px 20px;
                        display: block;
                        color: #bbbbbb;
                    }
                    .azen-title {
                        font-size: 20px;
                        line-height: 1;
                        color: #333333;
                        margin: 2px 0 22px;
                    }
                    .azen-desc {
                        line-height: 2;
                        color: #888888;
                        margin-bottom: 0;
                        letter-spacing: .7px;
                        font-size: 14px;
                    }
                }
            }
        }
        @media (max-width: 480px) {
            .azen-text {
                margin: 50px 0 0;
                .azen-title {
                    font-size: 20px;
                }
                .azen-desc {
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
            .azen-blocks {
                margin-top: 20px;
                .azen-block {
                    .azen-content {
                        padding: 20px 35px 21px;
                        border-top: 1px solid #bbbbbb;
                        box-shadow: none;
                        &:hover {
                            background-color: transparent;
                            transform: scale(1);
                            .title, .desc, .az-icon {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        @media (min-width: 480px) and (max-width: 767px) {
            .azen-text {
                margin: 50px 0 0;
                .azen-title {
                    font-size: 20px;
                }
                .azen-desc {
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
            .azen-blocks {
                margin-top: 20px;
                .azen-block {
                    .azen-content {
                        padding: 20px 35px 21px;
                        border-top: 1px solid #bbbbbb;
                        box-shadow: none;
                        &:hover {
                            background-color: transparent;
                            transform: scale(1);
                            .title, .desc, .az-icon {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        @media (min-width: 768px) and (max-width: 991px) {
            .azen-text {
                margin: 50px 0 0;
                .azen-title {
                    font-size: 20px;
                }
                .azen-desc {
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
            .azen-blocks {
                margin-top: 20px;
                .azen-block {
                    .azen-content {
                        padding: 20px 35px 21px;
                        border-top: 1px solid #bbbbbb;
                        box-shadow: none;
                        &:hover {
                            background-color: transparent;
                            transform: scale(1);
                            .title, .desc, .az-icon {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}