<!-- Features -->
<div class="azen" data-group="Features">
    <div data-full-width="false" data-stretch-content="false" data-without-padding="false">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 azen-features">

                <div class="azen-text" data-group="Text">
                    [[Title]]<div class="azen-title">[azh_text]Why choose us?[/azh_text]</div>
                    [[Description]]<div class="azen-desc">[azh_text]For some minutes Alice stood without speaking. looking out in all directions over the country - and a most curious country it was.[/azh_text]</div>
                </div>

                <div class="row azen-blocks" data-group="Features blocks">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 azen-block">
                        <div class="azen-content">
                            [[Title]]<div class="azen-title">[azh_text]Creative[/azh_text]</div>
                            [[Icon]]<div><span class="az-icon icon-class fa fa-flag-o"></span></div>
                            [[Link]]<div class="azen-desc"><a href="#">[azh_text]This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen.[/azh_text]</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 azen-block">
                        <div class="azen-content">
                            [[Title]]<div class="azen-title">[azh_text]Amazing[/azh_text]</div>
                            [[Icon]]<div><span class="az-icon icon-class fa fa-code"></span></div>
                            [[Link]]<div class="azen-desc"><a href="#">[azh_text]This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen.[/azh_text]</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 azen-block">
                        <div class="azen-content">
                            [[Title]]<div class="azen-title">[azh_text]Marvelous[/azh_text]</div>
                            [[Icon]]<div><span class="az-icon icon-class fa fa-keyboard-o"></span></div>
                            [[Link]]<div class="azen-desc"><a href="#">[azh_text]This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen.[/azh_text]</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Features -->