<div class="azen" data-group="Slider">
      <div data-full-width="false" data-stretch-content="false" data-without-padding="false">
            <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 azen-slider">
                        <div class="az-carousel owl-carousel" data-az-carousel="false" data-margin="0" data-autoplay="yes" data-loop="no" data-center="no" data-responsive='{"0":{"items":1}}' data-cloneable-inline>
                              <div class="azen-item item" style="background-image: url('{{azh-uri}}/img/slide-1.jpg');">
                                    <div class="azen-title">Creo[[Title]]</div>
                                    <div class="azen-background" style="background-image: url('{{azh-uri}}/img/elispes.png');"></div>
                                    <div class="azen-desc">creOtive agency[[Description]]</div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>