<div class="azen" data-group="Top bar">
    <div data-full-width="false" data-stretch-content="false" data-without-padding="false">
        <div class="row azen-top-bar">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 azen-tel">
                <a href="tel:+ 61 3 8376 6284"><span class="az-icon icon-class fa fa-phone"></span> + 61 3 8376 6284</a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 azen-mail">
                <a href="mailto:info@gmail.com"><span class="az-icon icon-class fa fa-envelope"></span> info@gmail.com</a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 azen-skype">
                <a href="skype: skype.skype"><span class="az-icon icon-class fa fa-skype"></span> skype.skype</a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-6 col-lg-6 social-bar">
                <a href="https://twitter.com"><span class="az-icon icon-class fa fa-twitter"></span></a>
                <a href="https://plus.google.com/"><span class="az-icon icon-class fa fa-google"></span></a>
                <a href="https://facebook.com"><span class="az-icon icon-class fa fa-facebook-official"></span></a>
                <a href="https://vimeo.com"><span class="az-icon icon-class fa fa-vimeo"></span></a>
            </div>
        </div>
    </div>
</div>