<div class="azen" data-group="Works">
    <div data-full-width="false" data-stretch-content="false" data-without-padding="false">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="azen-text" data-group="Text">
                    [[Title]]<div class="azen-title">[azh_text]Why choose us?[/azh_text]</div>
                </div>

                <div data-group="Projects">
                    <div class="az-tabs">

                        <div data-cloneable-inline>
                            <span><a href="#work-tab1">tab1 [[Tab name]]</a></span>
                        </div>

                        <div data-cloneable>
                            <div id="work-tab1">[[Tab content]]
                                <div data-element=""></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>